section{
		background-color: white;
	}
	footer{
		color: darkgreen;
		background-color: white;
		text-align: center;
	}
	body{
		font-family: 'Open Sans', sans-serif;
		background-image: url(res/background.jpg);
		background-size: cover;
		color: black;
	}
	.head{
		text-align: center;
		color: DodgerBlue;
		background-color: white;
	}
	nav{
		text-align: center;
		color: black;
		background-color: white;
	}
	.background{ 
background-color: white;
	 }
	.btnNav{
		color: black;
		background-color: rgba(255,255,255,0);
		border: none;
		text-decoration: none;
		margin: 3%;
	}
	.linkNav{
		color: black;
		background-color: rgba(255,255,255,0);
		text-decoration: none;
		font-style: bold;
		font-family: 'Open Sans Bold', sans-serif;
	}
	nav.scrollmenu{
		background-color: rgba(255,255,255,0);
		overflow: auto;
		white-space: nowrap;
	}
	.break{
		text-align: center;
		
	}
	.text-left{
		text-align: left;
	}
	.text-right{
		text-align: right;
	}
	.text-center{
		text-align: center;
	}
	.img{
		width: 100%;
		border-radius: 3%;
	}
	.face-img{
		width: 30%;
			border-radius: 3%;
	}
	.old{
		display: inline;
		text-align: center;
	}
	.drive{
		width: 100%;
		border-radius: 1%;
		height: 500px;
	}
	@media only screen and (min-width: 720px){
		.img{
			width: 40%;
			border-radius: 3%;
		}
		.face-img{
			width: 15%;
			border-radius: 3%;
		}
	}
	.mem{
		text-decoration: underline;
		color: black;
	}
	.heading{
		text-decoration: underline;
	}
.face-teacher{
	margin: 5px;
	display: inline;
	width: 30%;
}